
.hide-image{
    width: 470px;
    height: 320px;
}
h2{
    text-align: center;
}
#back-form{
    background-color: rgba(29, 242, 49, 0.5);
    border-radius: 10px;
}

.comentario{
    width: 100%;
    min-height: 105px;
    outline: none;
    resize: none;
    border: 1px solid grey;

}

/*CABEZERA*/
header{
    background: #212529;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
nav.contenedor{
    height: 70px;
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    height: 70px;
}
.logo img{
    height: 100%;
    vertical-align: top;
    background: #f2f2f2;
}
nav a{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}
.hamburguesa{
    height: 100%;
    width: 70px;
    text-align: center;
    display: none;
}
.hamburguesa img{
    vertical-align: top;
    padding: 23px;
}

.altura-a-b{
    padding: 40px 0;
}

/*FOOTER*/
footer{
    background-color: #212529;
    padding: 70px 0;
    text-align: center;
}

footer .logotipo-footer{
    width: 200px;
}
#p1{
    color: rgb(255, 255, 255);
}

/*FORMULARIO*/
main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.form_label{
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.form_grupo-input{
	position: relative;
}

.form_input{
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form_input:focus {
	border: 3px solid #aaaaaa;
	outline: none;
	box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.4);
}

.form_input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.form_input-error-activo {
	display: block;
}

.form_validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.form_checkbox {
	margin-right: 10px;
}


.form_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form_mensaje-activo {
	display: block;
}

.form_mensaje p {
	margin: 0;
}

.form_grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(5, 180, 5);
	color: rgb(255, 255, 255);
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.form_btn:hover {
	box-shadow: 3px 0px 30px rgb(3, 121, 9);
}

.form_mensaje-exito {
	font-size: 18px;
	color: #119200;
	display: none;
}

.form_mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.form_grupo-correcto .form_validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.form_grupo-incorrecto .form_label {
	color: #bb2929;
}

.form_grupo-incorrecto .form_validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.form_grupo-incorrecto .form_input {
	border: 3px solid #bb2929;
}



/*REDES SOCIALES*/
li {
    list-style: none;
    margin: 10px 0;
    font-size: 22px;
    color: rgb(255, 255, 255);
}
  
li a {
    position: relative; 
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 53px;
    background: rgb(71, 71, 71);
    border-radius: 50%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: .5s;
}
  
  /*LUZ INSTAGRAM*/
.ig a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #7322b6;
    transition: .8s;
    z-index: -1;
}
  
.ig a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #7322b6;
}
  
.ig a:hover {
    color: #7322b6;
    box-shadow: 0 0 5px #7322b6;
    text-shadow: 0 0 5px #7322b6;
}
  
  /*LUZ WHATSAPP*/
.wsp a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #13d42d;
      transition: .8s;
      z-index: -1;
}
    
.wsp a:hover::before {
      transform: scale(1.1);
      box-shadow: 0 0 15px #13d42d;
}
    
.wsp a:hover {
      color: #13d42d;
      box-shadow: 0 0 5px #13d42d;
      text-shadow: 0 0 5px #13d42d;
}
  
  /*LUZ FACEBOOK*/
.email a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #3a63bb;
      transition: .8s;
      z-index: -1;
}
    
.email a:hover::before {
      transform: scale(1.1);
      box-shadow: 0 0 15px #3a63bb;
}
    
.email a:hover {
      color: #3a63bb;
      box-shadow: 0 0 5px #3a63bb;
      text-shadow: 0 0 5px #3a63bb;
}

/*QUERY*/
@media screen and (max-width:800px){
    .hamburguesa{
        display: block;
    }
    .enlaces{
        position: fixed;
        background: #3d3d3d;
        left: 0;
        top: 70px;
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
    }
    .enlaces2{
        transform: translateX(0%);
    }
    nav a {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 10px 20px;
        text-decoration: none;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        transition: 0.5s;
        z-index: 1;
    }
    nav a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
    }
    nav a:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
    }
    nav a:hover {
        color: rgb(122, 122, 122);
    }
    nav a:hover:before {
        transform: scaleY(1);
        opacity: 1;
    }
    nav a:hover:before {
        transform: scaleY(1);
        opacity: 1;
    }

    .form_btn{
		width: 100%;
	}
}